div(style="text-align: justify;")
	div
		div
			h1 New Comment
		div
			p
				| Hello, #{name}. There is a new comment on your post.
				br
				| "#{comment}"
				br
				| Consider responding, hugs!
		div
			p
				a(href='#') Example
				br
				a(href='#' target='_blank' rel='noreferrer') Example
				|  | 
				a(href='#' target='_blank' rel='noreferrer') Example
